@inject IViewLocalizer Localizer

<details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
            @Localizer["detailsTitle"]
        </span>
    </summary>
    <div class="nhsuk-details__text">
        <p>@Localizer["detailsParagraph"]</p>
    </div>
</details>